@import "bourbon/bourbon";
@import "reset";
@import "prettify";
@import "font-family";
@import "color";

/***************************************************************** BASE LAYOUT + TYPOGRAPHY ***/
/**********************************************************************************************/

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  background-image: url("/images/bg.jpg");
	@include black;
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 0.9em;
  line-height: 1.3;
  padding: 10%;
}

html, body {
  height: 100%;
  width: auto;
}

a {
	@include black;
	text-decoration: none;
}

a:hover {
	@include border-bottom;
	@include black;
	opacity: 0.4;
}

h3 {
	font-size: 20pt;
	font-style: italic;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

strong { font-weight: 900; }

#top {
  bottom: 10px; right: 26px;

  background: rgb(255, 255, 255);
  @include border-radius(5px);
  @include box-shadow(0 0 10px hsla(0, 0%, 81.9608%, 1));
	color: rgb(117, 117, 117);
  cursor: pointer;
  display: none;
  font-size: 11px;
  font-style: italic;
  letter-spacing: 2px;
  padding: 5px;
  position: fixed;
	text-align: center;
	width: 120px;
  z-index: 2000000002;  
}

.clear {
  clear: both;
  height: 10px;
}

/************************************************************************** HEADER + FOOTER ***/
/**********************************************************************************************/

header { margin: 0 0 50px 0; }

footer {
	margin: 20px 0 20px 0; padding: 0 10px 0 0;

	border-style: solid;
  border-top: 1px #999;
	clear: both;
	opacity: 0.4;
}

small.tagline { margin: 0 0 0 40px; }

small.footer-left {
	float: left;
	margin: 10px 0 0 0;
}

small.footer-right {
	float: right;
	margin: 10px 0 0 0;
}

small.footer-left a, small.footer-right a { @include border-bottom; }

small.tagline, small.footer-left, small.footer-right {
	font-size: 10pt;
	font-style: italic;
}

/************************************************************************** CONTENT STYLING ***/
/**********************************************************************************************/

#main-wrap {
	max-width: 100%; height: 100%;
}

#content-wrapper {
	min-width: 600px; height: auto;
}

.content { line-height: 1.8; }

/******************************************************************* BLOG POST LIST STYLING ***/
/**********************************************************************************************/

ul li {
	clear: both;
	padding: 15px;
}

ul li .date {
	color: #999;
	display: block;
  float: left;
  font-size: 8pt;
	padding: 0 20px 0px 0px;
  text-align: right;
  text-transform: uppercase;
	width: 80px;
}

ul li .post-title {
	font-size: 1.5em;
	text-transform: uppercase;
}

/**************************************************************** BLOG POST CONTENT STYLING ***/
/**********************************************************************************************/

p {
	margin: 10px;
	text-align: justify;
	text-indent: 2.3em;
}

.video-container {
	height: 0;
  overflow: hidden;
	padding-top: 30px; padding-bottom: 56.25%;
	position: relative;
}

.video-container iframe, .video-container object, .video-container embed {
	width: 100%; height: 100%;
  top: 0; left: 0;

  clear: left;
  position: absolute;
}

#post ul li {
	margin: 0 0 0 80px; padding: 3px;
	list-style-type: square;
}

#post a { @include border-bottom; }

.h3-helper {
	display: inline;
	float: left;
	font-size: 20pt;
	font-style: italic;
  margin: 0 0 0 -30px;
	opacity: 0.4;
}

blockquote {
	margin: 1.5em 10px; padding: 0.5em 10px;

	background: #f9f9f9;
	border-left: 10px solid #ccc;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p { display: inline; }

ul.images {
}

ul.images img {
  display: block;
  margin-bottom: 12px;
}

ul.images li {
	clear: left;
  display: inline-block;
	vertical-align: top;
}

#post ul.images li {
  margin: 0; padding: 0;
}

ul.images a {
  width: auto; height: auto;
  margin: 0 0 27px 30px; padding: 10px 10px 15px;

  background: #fefefe;
  box-shadow: inset 0 1px 15px 0 #bababa;
  display: inline-block;
  float: left;
  font-size: 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

ul.images a:after { content: attr(title); }
